nav {
    margin-bottom: 25px;
}

.article-1 {
    background-color: #EBEBEB;
    color: #91BB64;
    padding: 20px 10px;  
}
.article-2 {
    background-color: #EBEBEB;
    color: #639BAC;
    padding: 20px 10px;  
}